@import 'bootstrap-sprockets';
@import 'bootstrap';

$color-bbb: #bbb;
$gray-five: #555;
$gray-medium-light: #eaeaea;
$gray-seven: #777;
$gray-two: #222;
$white-zero: #fff;
$gray-e8e8e8: #e8e8e8;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
  margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  color: $gray-seven;
  font-size: 1.2em;
  font-weight: normal;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
.nav{
  background: #8A0808;
  /*background-position: 100%;*/
  /*width:100%;*/
}

.nav_center{
  background: #8A0808;
  /*height: 35px;*/
  /*width: 100%;*/
}

#logo {
  color: $white-zero;
  float: left;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1px;
  margin-right: 10px;
  padding-left: 10px;
  padding-top: 9px;
  line-height: 30px;
  background: #8A0808;
  margin-left: -20px;
  padding-left: 40px;
  height: 50px;

  &:hover {
    color: $gray-medium-light;
    background: #8A0808;
    text-decoration: none;
  }
}

/* footer */

footer {
  border-top: 1px solid $gray-medium-light;
  color: $gray-seven;
  margin-top: 45px;
  padding-top: 5px;

  a {
    color: $gray-five;

    &:hover {
      color: $gray-two;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  margin-top: 45px;
  width: 100%;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }

  section {
    margin-top: 20px;
    padding: 10px 0;

    &:first-child {
      border: 0;
      padding-top: 0;
    }

    span {
      display: block;
      line-height: 1;
      margin-bottom: 3px;

      a {
      color: #B40404;
      &:hover {
      color: #B40404;
      background: white;
      font-weight: bold;
      }
    }
    }

    h1 {
      font-size: 1.4em;
      letter-spacing: -1px;
      margin: 0 0 3px;
      text-align: left;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid $color-bbb;
  margin-bottom: 15px;
  width: 100%;
  @include box_sizing;
}

input {
  height: auto !important;
}

.field_with_errors {
    padding: 2px;
    background-color: white;
    display: table;
    border: 2px solid white;
    border-radius: 5px;
}

.error_explanation {
  color: red;
  width: 450px;
  border: 2px solid green;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  ul {
    color: red;
    margin: 0 0 30px;
  }
}
#error_explanation {
  border: 2px solid white;
  border-radius: 10px;
}
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
  color: red;
}

/* session_remember_me */

.checkbox {
  margin: -10px 0 10px;

  span {
    font-weight: normal;
    margin-left: 20px;
  }
}

#session_remember_me {
  margin-left: 0;
  width: auto;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  color: red;

  li {
    border-bottom: 1px solid $gray-medium-light;
    overflow: auto;
    padding: 10px 0;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;

  li {
    border-top: 1px solid $gray-e8e8e8;
    padding: 10px 0;
  }

  .user {
    margin-top: 5em;
    padding-top: 0;
    font-size: 20px;

    a {
      color: #B40404;
      font-weight: bold;
      &:hover {
      background: white;
      }
    }
  }

  .content {
    margin-top: 25px;
    display: block;
    margin-left: 60px;
    font-size: 15px;

    img {
      display: block;
      padding: 5px 0;
      max-width: 680px;
    }
  }

  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;

    a {
      color: #B40404;
      &:hover {
      text-decoration: none;
      color: red;
      background: white;
      font-weight: bold;
      }
    }
  }

  .gravatar {
    float: left;
    margin: 5px 10px 0 0;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;

  input {
    border: 0;
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;

  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;

    &:first-child {
      padding-left: 0;
      border: 0;
    }

    &:hover {
      text-decoration: none;
      color: #B40404;
      background: white;
      font-weight: bold;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;

  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/*new comment*/

.new_comment {
  margin-top: 10px;

  .text_comment{
    max-width: 680px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
  }

  .btn_comment{
    width: 200px;
    margin-top: -10px;
  }
}

.user_comment{
  img {
    width: 30px;
  }
  .user_commented{
    color: #B40404;
    font-weight: bold;

    &:hover {
      background: white;
      font-weight: bold;
    }
  }
  a{
    color: #B40404;
    &:hover {
      text-decoration: none;
      color: red;
      background: white;
      font-weight: bold;
    }
  }
}

.new_micropost{
  .field{
    textarea{
      width: 600px;
    }

  }
  input{
      width: 600px;
    }
}

.comments{
  margin-top: -20px;
}

/*sign_up_now*/
.jumbotron{
  height: 500px;
  h1{
    color: #8A0808;
    font-size: 40px;
  }
  h2{
    a{
      &:hover {
        text-decoration: none;
        color: #8A0808;
        background: #eaeaea;
      }
    }
  }
}
.sign_up_now{
  margin-left: 30px;
  background: #eaeaea;
  height: 500px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
}

// new_user

.new_user input{
  width: 300px;
  margin-left: -70px;
}

//

label.error{
  color: red;
  margin-top: -10px;
}

.error-class{
  color: red;

}


 //
 .user_comment {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }

  .content_commented {
    display: block;
    margin-left: 60px;
    padding-top: 6px;

  }
  .time_of_comment {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .user_commented {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
  .delete_comment{
    float: left;
    margin-top: -18px;
    margin-left: 180px;
  }
}

#slider1_container{
  margin-left: -44px;
}
